<h1><%= @user.name %></h1>

<% @user.cereals.each do |cereal| %>
<h3><%= cereal.name %></h3>
<% end %>

<%= button_to "Manage Account", edit_user_path, method: :get  %>
<%= button_to "Add cereal", new_cereal_path, method: :get  %>
