/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 .welcome{
    text-align: center;
 }

 img.welcome_img{
    text-align: center;
    width:70%;
 }

 h1{
    font-family: 'Mansalva', cursive;
    text-align: center;
 } 

h2 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
 }

 h3{
    font-family: 'PT Sans Narrow', sans-serif;
 }

h4{
    font-family: 'PT Sans Narrow', sans-serif;
    margin:0 8px 0 0;
    padding:0;

}
 .container{
     margin-top: 20px;
 }

.row{
    margin: 20px;
}

.col-lg-2{
    margin-bottom: 30px;
}

.new_cereal_button{
    margin: 10px 45% ;
} 

img.profile{
    max-width: 250px;
    height:250px;
    border-radius: 10%;
}

.group_icon{
    width:30px;
    height:30px;
}

.form-group{
    padding:0 60px;
}

.card{
   margin-left:auto;
   margin-right: auto;
   width:300px;
}

.form-button{
    background-color: hotpink;
    border:0;
    border-radius:15%;
    color:white;
    margin:0 60px;
}

.profiles{
    padding:10px;
    text-align: center;
}

/* group show */
.center {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  }

  .image{
    width: 70px;
    height: 70px;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.col-lg-3{
    overflow: hidden;
}

  .button{
      background-image: url(join_group.png);
  }


  .nav-link{
      color:white;
  }

  .navbar-toggler{
      color:white;
  }

p.warning {
    padding-left:10px;
}

.link-css{
    color:black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:25px;
}

.link-css:hover{
    color: hotpink;
}

p.normal-title-font{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:20px;
}

/* cereal list */
.relative-container{
    position: relative;
}

.text-over-img{
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: red;
    font-weight: bold;
}